.placeholder-left.state-documents {
        display: grid;
        grid-template-rows: 20% 80%;
        height: 100%;
        gap: 0;
        margin: 0;
        padding: 0;
        border: none; // Remove the outer border inherited from .placeholder-left

        .placeholder-left-top {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .placeholder-left-bottom {
            background-color: #f9f9f9;
            border: 1px solid #ccc;
            height: 100%;
            margin: 0;
            padding: 0;
        }
}